.home-warp{
      background-image: url("../images/bg.png");
}
.home .red-icon::after{
    background-image: url("../images/redBtn.png");
}
.ws-header-block{
    background-image: url("../images/headBg.png");
}
.ws-header-block .question{
    background-image: url("../images/question.png");
}
.home-warp .home .right::before{
    background-image: url("../images/splitLine.png");
}
.home .red-icon::after{
    background-image: url("../images/redBtn.png");
}
.left .tab-menu .tab1{
    background-image: url("../images/tab1unCheck.png");
}
.left .tab-menu .tab1-check{
    background-image: url("../images/tab1Check.png");
}
.left .tab-menu .tab2{
    background-image: url("../images/tab2unCheck.png");
}
.left .tab-menu .tab2-check{
    background-image: url("../images/tab2Check.png");
}
.left .tab-menu .tab3{
    background-image: url("../images/tab3unCheck.png");
}
.left .tab-menu .tab3-check{
    background-image: url("../images/tab3Check.png");
}
.left .tab-menu .tab4{
    background-image: url("../images/tab4unCheck.png");
}
.left .tab-menu .tab4-check{
    background-image: url("../images/tab4Check.png");
}
.left .tab-content{
    background-image: url("../images/chooseBg.png");
}
.item-bg{
    background-image: url("../images/itemBg.png");
}
.current-show::after{
    background-image: url("../images/highlight.png");
}
.item-warp .unCheck{
    background-image: url("../images/itemUncheck.png");
}
.item-warp .check{
    background-image: url("../images/itemChecked.png");
}
.right .guide{
    background-image: url("../images/introduceBg.png");
}
.right .enter{
    background-image: url("../images/enterBtnGray.png");
}
.right .enter-gold{
    background-image: url("../images/enterBtnGold.png");
}
.dialog .icon-cross{
    background-image: url("../images/dialogClose.png");
}
.dialog .content{
    background-image: url("../images/dialogBg.png");
}
.ws-toast{
    background-image: url("../images/toastBg.png");
}
.home-warp .chosen-confirm .confirm-btn-cancel{
    background-image: url("../images/btnRed.png");
}
.home-warp .chosen-confirm .confirm-btn-ok{
    background-image: url("../images/btnGold.png");
}
.home-warp .star{
    background-image: url("../images/star.png");
}
.process{
    background-image: url("../images/processLine.png");
}
.home-warp .gifts{
    background-image: url("../images/giftGray.png");
}
.home-warp .gifts-activate{
    background-image: url("../images/giftGold.png");
}
.score{
    background-image: url("../images/task.png");
}
.fire-up{
    background-image: url("../images/fireupGray.png");
}
.fire-up-activate{
    background-image: url("../images/fireupGold.png");
}
.box{
    background-image: url("../images/taskBox.png");
}
.split-line{
    background-image: url("../images/processSplitLine.png");
}