.mask {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  background-color: #000;
  opacity: 0.8;
  z-index: 100;
}

.none {
  display: none !important;
}
.dialog {
  position: fixed;
  width: 101%;
  height: 101%;
  left: 0;
  top: 0;
  display: flex;
  z-index: 100;
}

.dialog.outter-dialog {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 101;
  left: 50%;
  top: 50%;
}
.outter-dialog.loading img {
  width: px2vw(80px);
}

.loading-mask {
  z-index: 100;
}
.rule-mask {
  z-index: 15;
  height: 100%;
  top: auto;
  bottom: 0;
}
.loading-mask {
  z-index: 100;
}
@keyframes mask_slip_in{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.ha-mask {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  background-color: rgba(0,0,0,0.8);
  animation:mask_slip_in 50ms ease-in-out forwards;
  overflow-x: hidden;
    overflow-y: auto;
  z-index: 100;
  .ha-content{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
