@font-face {
    font-family: RobotoBlack;
    src: url('/fonts/ROBOTO-BLACK.TTF');
}
@font-face {
    font-family: RobotoBold;
    src: url('/fonts/ROBOTO-BOLD.TTF');
}
@font-face {
    font-family: Roboto;
    src: url('/fonts/ROBOTO-REGULAR.TTF');
}
@font-face {
    font-family: Bahnschrift;
    src: url('/fonts/bahnschrift.ttf');
}

// 设置统一字体

$font-family:'Roboto',;

$sub-font-family: 'Bahnschrift';
