// 特殊处理
// 越南语
#home-lang[data-lang=vi],#app[data-lang=vn],#app[data-lang=ru]{
  font-family: $vnru-font-family !important;
  .region ul p,
  .home-warp .left,
  .home-warp .content,
  .home-warp .right .spin-warp,
  .home-warp .content .skip,
  .home-warp .history .history-item-warp, 
  .home-warp .rights,
  .dialog .warp .content,
  div,
  span,
  p,
  article,
  i,
  a,
  ul,
  li
   {
    font-family: $vnru-font-family !important;
  }
}
// 繁体字
#home-lang[data-lang=zh],#app[data-lang=zh-tw]{
  font-family: $zh-font-family !important;
  .region ul p,
  .home-warp .left,
  .home-warp .content,
  .home-warp .right .spin-warp,
  .home-warp .content .skip,
  .home-warp .history .history-item-warp, 
  .home-warp .rights,
  .dialog .warp .content,
  div,
  span,
  p,
  article,
  i,
  a,
  ul,
  li
   {
    font-family: $zh-font-family !important;
  }
}